aiofiles
altgraph
annotated-types
anyio
av
bottle
cachetools
certifi
cffi
charset-normalizer
click
clr-loader
colorama
coloredlogs
ctranslate2
fastapi
faster-whisper
ffmpy
filelock
flatbuffers
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
gradio
gradio_client
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
huggingface-hub
humanfriendly
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
mpmath
networkx
numpy
onnxruntime
orjson
packaging
pandas
pefile
pillow
proto-plus
protobuf
proxy_tools
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydub
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
pypiwin32
pyreadline3
python-dateutil
python-dotenv
python-multipart
pythonnet
pytz
pywebview
pywin32
pywin32-ctypes
PyYAML
requests
rich
rsa
ruff
safehttpx
semantic-version
setuptools
shellingham
six
sniffio
starlette
sympy
tokenizers
tomlkit
torch
torchaudio
torchvision
tqdm
typer
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
websockets